@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar custom para contenedores con la clase custom-scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 #05030a;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #05030a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 9999px;
}
